<!DOCTYPE html>
<html>
<head>
  <title>CapMS</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<% if user_signed_in? %>
  <% inviteCount = Bulletin.where("user_id = ? AND team_id IS NOT NULL", current_user.id).count %>
  <% approvalCount = Bulletin.where("user_id = ? AND approval_pending = ?", current_user.id, true).count %>
  
  <div class="modal fade" id="notifModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" style="z-index: 1060">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h4 class="modal-title" id="modalLabel">Notifications</h4>
        </div>
        <div class="modal-body">
          <% if inviteCount == 0 && approvalCount == 0 %>
            <h4> You do not have any notifications. </h4>
          <% end %>
          <% inviteBullets = Bulletin.where("user_id = ? AND team_id IS NOT NULL", current_user.id) %>
          <div class="NotifGroups">
            <% inviteBullets.each do |n| %>
              <div class="single-notif">
                <h6><a href="/teams/#{n.team_id}"> You have been invited to join <%=Team.find(n.team_id).name%>!</a></h6>
                <div class="notif-button">
                  <%= link_to "Accept", {:controller => "users", :action => "update", :id => current_user.id, :team_id => n.team_id, :bullet_id => n.id }, :method => "patch", :class => "btn btn-xs btn-default", data: {:confirm => "Are you sure you wish to join #{Team.find(n.team_id).name}?"} %>
                </div>
                <div class="notif-button">
                  <%= link_to "Decline", {:controller => "bulletins", :action => "destroy", :id => n.id}, :method => "delete", :class => "btn btn-xs btn-default", data: {:confirm => "Decline the invite to join #{Team.find(n.team_id).name}?"} %>
                </div>
                <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Cancel</button>
              </div>
            <% end %>
          </div>
          <div class="NotifGroups">
            <div class="single-notif">
              <% if approvalCount > 0 %>
                <h6>
                  You have been requested to approve the publication of <%= approvalCount %>
                  <% if approvalCount == 1 %>
                    file.
                  <% else %>
                    files.
                  <% end %>
                </h6>
                <%= link_to "View Here", "/teams/#{current_user.team_id}", :class => "btn btn-xs btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-primary">Confirm</button>-->
        </div>
      </div>
    </div>
  </div>




  <nav class="navbar dark-blue-background navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand white-text" href="../">CapMS</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav">
        <% @msg_bullets = Bulletin.where("user_id = ? AND message_id IS NOT NULL", current_user.id) %>
        <% if @msg_bullets.blank? %>
          <li><a class="white-text" href="/messages">Message Board</a></li>
        <% else %>
          <li>
            <%= link_to( {:controller => "bulletins", :action => "destroy_msg_bull", :id => current_user.id}, :method => "delete") do%>
                 Message Board <span class="label label-as-badge label-danger"><%= @msg_bullets.count%></span>
              <% end %>
          </li>
        <% end %>

        <li><a class="white-text" href="/teams/">Teams</a></li>
        <li><a class="white-text" href="#" class="active" data-toggle="modal" data-target="#notifModal"> Notifications
        <% if inviteCount > 0 || approvalCount > 0%>
          <% if approvalCount > 0 %>
            <span class="label label-as-badge label-danger"><%= inviteCount + 1%></span>
          <% else %>
            <span class="label label-as-badge label-danger"><%= inviteCount%></span>
          <% end %>

        <% end %>
        </a></li>


       </ul>
       <form class="form-inline navbar-form navbar-right" >
         <div class="btn-group btn-group-lg">
            <button class="btn white-background btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
              <% if current_user.profilepicture_file_name.blank?%>
                <span class = "text-center"> <img alt="Dude" class = "clip-circle-nav" src="/assets/icons/dude.svg"></span>
              <%else%>
                <span class = "text-center">
                <img alt="Dude" class = "clip-circle-nav" src= <%=current_user.profilepicture.url%>></span>
              <%end%>
              <%= current_user.first_name%> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
              <% if current_user.user_type_id == 2 %>
                <li><a href=<%= user_path(current_user.id)%> >My Profile/Admin Tools</a></li>
              <% else %>
                <li><a href=<%= user_path(current_user.id)%> >My Profile</a></li>
              <% end %>
              <% if current_user.team_id != nil %>
               <li><%= link_to("My Team", team_path(current_user.team_id)) %></li>
              <% end %>
              <% if current_user.user_type_id != 2 %>
               <li><a href="mailto:djgwdb@mail.missouri.edu">Email Professor</a></li>
              <% end %>
              <li><%= link_to("Edit Profile", edit_user_registration_path)%></li>
              <li class="divider"></li>
              <li><%= link_to("Logout", destroy_user_session_path, :method => :delete)%></li>
            </ul>
          </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </nav>


<%else%>
    <nav class="navbar dark-blue-background navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand white-text" href="../">Cap MS</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">

          <li class="active white-text"><a href="/teams/">Teams</a></li>
          <li><a class = "white-text" href="/teams/">Class</a></li>
          <li><a class = "white-text" href="#fakelink">About</a></li>

         </ul>
          <form class="form-inline navbar-form navbar-right">
             <div class="btn-group btn-group-lg">

              <%= link_to "Login", new_user_session_path, :class => "btn white-background btn-md"  %>
              </div>
          </form>
      </div><!-- /.navbar-collapse -->
    </nav>
<%end%>
<body>
<div class = "container" style="margin-top:30px">
  <%= yield %>
</div>

</body>
</html>







</body>
<div class="footer" class="mtl pbl">
    <div class="bottom-menu bottom-menu-inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <a href=<%= root_url %> class="bottom-menu-brand">CapMS</a>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="bottom-menu-list">
                        <li><a href="https://github.com/capms/fallproject">Source Code</a></li>
                        <li><a href="#" class="active" data-toggle="modal" data-target="#aboutModal">About</a></li>
                        <li><a href="#fakelink">Subscribe</a></li>
                        <li><a href="#fakelink">Pricing</a></li>
                    </ul>

                    <ul class="bottom-menu-list">
                        <li>Created by:  <a href="https://github.com/johncurley44"> John Curley</a></li>
                        <li><a href="http://dannyglover.herokuapp.com/">Danny Glover</a></li>
                        <li><a href="https://github.com/victortran620">Victor Tran</a></li>
                        <li><a href="https://github.com/drodenberg">Daniel Rodenberg</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

 <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="z-index: 1060">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h4 class="modal-title" id="modalLabel">About</h4>
        </div>
        <div class="modal-body">
          <p>CapMS is an open-source project created by John Curley, Daniel Glover, Daniel Rodenberg, and Victor Tran during the Computer Science/Information Technology capstone course at the University of Missouri-Columbia under the supervision of Dale Musser and Joseph Guilliams. </p>
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-primary">Confirm</button>-->
        </div>
      </div>
    </div>
  </div>
</html>
