<!DOCTYPE html>
<html>
<head>
  <title>CapMS</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<% if user_signed_in? %>
  <%inviteCount=Notification.where(user_id: current_user.id).count%>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="../">CapMS</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav">
                <li><a href="/groups">Groups</a></li>
                <li><a href="/messages">Message Board</a></li>
                <li><a href="/teams/">Teams</a></li>
                <li><a href="#fakelink">Class</a></li>
                <li><a href="#" class="active" data-toggle="modal" data-target="#inviteModal"> Invites</a></li>
                <% if inviteCount > 0 %>
                  <li class="navbar-new"><%=inviteCount%></li>
                <% end %>
                <li><a href="#fakelink">About</a></li>
               </ul>
       <form class="form-inline navbar-form navbar-right">

    	   <div class="btn-group btn-group-lg">
              <button class="btn btn-inverse btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                <% if current_user.profilepicture_file_name.blank?%>
               <span class = "text-center"> <img alt="Dude" class = "clip-circle-nav" src="/assets/icons/dude.svg"></span>
                <%else%>
                <span class = "text-center"><img alt="Dude" class = "clip-circle-nav" src= <%=current_user.profilepicture_file_name%>></span>
                <%end%>
                <%= current_user.first_name%> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
                <li><a href="/users/">My Profile</a></li>
                <li><a href="#">My Groups</a></li>
                <li><a href="#">Email Professor</a></li>
                <li><%= link_to("Edit Profile", edit_user_registration_path)%></li>
                <li class="divider"></li>
                <li><%= link_to("Logout", destroy_user_session_path, :method => :delete)%></li>
              </ul>
            </div>
      </form>
            </div><!-- /.navbar-collapse -->
          </nav>
      <!-- Modal Definition -->
      <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title" id="modalLabel">Invites</h4>
            </div>
            <div class="modal-body">
              <% if inviteCount == 0 %>
                <h2> You have no invites, I am sorry. </h2>
              <% end %>
              <% userNotifications = Notification.where(user_id: current_user.id) %>
              <div class="InviteGroups">
                <% userNotifications.each do |n| %>
                  <div class="single-invite">
                    <h6><a href="/teams/#{n.team_id}"> You have been invited to join <%=Team.find(n.team_id).name%>!</a></h6>
                    <div class="invite-button">
                      <%= link_to "Accept", {:controller => "users", :action => "update", :id => current_user.id, :team_id => n.team_id, :notif_id => n.id }, :method => "patch", :class => "btn btn-xs btn-default", data: {:confirm => "Are you sure?"} %>
                    </div>
                    <div class="invite-button">
                      <%= link_to "Decline", {:controller => "notifications", :action => "destroy", :id => n.id}, :method => "delete", :class => "btn btn-xs btn-default", data: {:confirm => "Are you sure?"} %>
                    </div>
                    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary">Confirm</button>-->
            </div>
          </div>
        </div>
      </div>


<%else%>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">Cap MS</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/teams/">Teams</a></li>
                <li><a href="#fakelink">Class</a></li>
                <li><a href="#fakelink">About</a></li>
               </ul>
               <form class="form-inline navbar-form navbar-right">
       		<div class="btn-group btn-group-lg">

               <%= link_to "Login", new_user_session_path, :class => "btn btn-primary btn-sm"  %>

               <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-inverse btn-sm', :type =>'button' %>


            </div>
        </form>
            </div><!-- /.navbar-collapse -->
          </nav>
 <%end%>
<body>
<div class = "container" style="margin-top:30px">
<%= yield %>
</div>
</body>
</html>
