
<h2>Team Creation</h2>
<br>
<div class="team-index container">
	<div id="newteam">
		<%= form_for @team, url: {action: "create"} do |f| %>
			<div class="form-group">
		      	<input id="team_name" type="text" class= "form-control input-hg" value="" placeholder="Team Name" name="team[name]">
		    </div>
		    <div class="form-group">
		      	<input id="team_description" type="textarea" class= "form-control input-sm" value="" placeholder="Team Description" name="team[description]">
		    </div>
		    <div class="form-group">
				<%= f.label :max_size %><br />
		      	<%= f.number_field(:max_size, in: 2..10, step: 1, value: 2) %>
		    </div>
		    <div class="form-group">
		    	<%= button_tag(class: "btn btn-sm btn-block btn-primary") do%>
		    		<%=content_tag(:strong, 'Create Team') %>
		    	<% end %>
		    </div>
		<% end %>
	</div>
	<div id="users">
		<table>
			<th>Available Users</th>
			<tr>
			<% @free_users.each do |freeuser| %>
				<td> <%= freeuser.first_name %> </td>

<script src="jquery-bigtext.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("span#fit").bigText({
			maximumFontSize: 17,
			verticalAlign: "top"
		});

	});
</script>

<!--Begin Page - Logged in -->
<% if user_signed_in? %>
	<div class="newteam">
		<%= form_for @team, url: {action: "create"} do |f| %>
			<div class="form-group">
		      	<input id="team_name" type="text" class= "form-control input-hg" value="" placeholder="Team Name" name="team[name]">
		    </div>
		    <div class="form-group">
		      	<%= f.text_area(:description, class: "form-control input-sm static-text-area", maxlength: '500', placeholder: 'Team Description (max 500 characters)') %>
		    </div>
		    <div class="form-group">
				<%= f.label :max_size %><br />
		      	<%= f.number_field(:max_size, class: "form-control bfh-number", in: 2..10, step: 1, value: 2) %>
		    </div>
		    <div class="form-group" >
		    	<%= button_tag(class: "btn btn-lg btn-primary") do%>
		    		<%=content_tag(:strong, 'Create Team') %>
		    	<% end %>
		    </div>
		<% end %>
	</div>
	<div class="availableUsers">
		<h4> Available Users </h4>
		<% @free_users.each do |freeUser| %>
			<div id="singleFreeUser">
				<% imageLoc = freeUser.profilepicture_file_name %>
				<% if !imageLoc.blank?%>
					<%= link_to image_tag(imageLoc, alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: freeUser.id %>
				<% else %>
					<%= link_to image_tag("/icons/dude.svg", alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: freeUser.id %> 
				<% end %>
				<!--<span id="fit"><%= freeUser.first_name %></span>-->
				<div class="btn-group">
				  <button class="btn btn-inverse btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
				    <%= freeUser.first_name %> <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
				    <li><%= link_to "Profile", {:controller => "users", :action => "show", :id => freeUser.id} %></li>
				    <% if current_user != nil && !current_user.team_id.blank? %>
				    	<li><%= link_to "Invite", {:controller => "notifications", :action => "create", :user_id => freeUser.id, :team_id => current_user.team_id }, :method => "post", data: { confirm: "Are you sure?"} %></li>
				    <% end %>
				  </ul>
				</div>
			</div>
		<% end %>
	</div>
	<br>
	<br>
<% end %>
	<div class="team-list">
		<% allTeams = Team.all %>
		<% allTeams.each do |team| %>
			<% usersInTeam = User.where(team_id: team.id) %>
			<% if !usersInTeam.blank? %>
				<h4 margin: '30'><%=link_to team.name, controller: "teams", action: "show", id: team.id %></h4>
				<div class="usersByTeam">
					<% usersInTeam.each do |userInTeam| %>
						<div id="singleUser">
							<% imageLoc = userInTeam.profilepicture_file_name %>
							<% if !imageLoc.blank?%>
								<%= link_to image_tag(imageLoc, alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: userInTeam.id %>
							<% else %>
								<%= link_to image_tag("/icons/dude.svg", alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: userInTeam.id %> 
							<% end %>
							<% if userInTeam.first_name.blank? %>
								NoName
							<% else %>
								<%= userInTeam.first_name %>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
<% if !user_signed_in? %>
	<h4 margin: '30'>All Users</h4>
	<div class="usersByTeam">
		<% User.all.each do |u| %>
			<div id="singleUser">
				<% imageLoc = u.profilepicture_file_name %>
				<% if !imageLoc.blank?%>
					<%= link_to image_tag(imageLoc, alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: u.id %>
				<% else %>
					<%= link_to image_tag("/icons/dude.svg", alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: u.id %> 
				<% end %>
				<% if u.first_name.blank? %>
					NoName
				<% else %>
					<%= u.first_name %>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>
