<h2><%= @team.name %> </h2>
<% if current_user.team_id == @team.id %>
	<%= link_to "Leave Team", {:controller => "users", :action => "leave_team", :id => current_user.id}, :method => "put", :class => "btn btn-primary btn-sm", data: { confirm: "Are you sure you want to leave #{@team.name}?"} %> 
<% end %>
<% usersInTeam = User.where(team_id: @team.id) %>
<% if !usersInTeam.blank? %>
	<div class="team-show-users">
		<% usersInTeam.each do |userInTeam| %>
			<div id="show-user">
				<% imageLoc = userInTeam.profilepicture_file_name%>
				<% if !imageLoc.blank?%>
					<%= link_to image_tag(imageLoc, alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: userInTeam.id %>
				<% else %>
					<%= link_to image_tag("icons/dude.svg", alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: userInTeam.id %> 
				<% end %>
				<%= userInTeam.first_name %>
			</div>
		<% end %>
	</div>
	<div>
		<h4 padding='5px'>Team Description</h4>
		<p> <%= @team.description %> </p>
	</div>
	<br>
<% end %>