<h2><%= @team.name %> </h2>
<% if current_user != nil && current_user.team_id == @team.id %>
	<%= link_to "Leave Team", {:controller => "users", :action => "leave_team", :id => current_user.id}, :method => "put", :class => "btn btn-primary btn-sm", data: { confirm: "Are you sure you want to leave #{@team.name}?"} %> 
<% end %>
<% usersInTeam = User.where(team_id: @team.id) %>
<% if !usersInTeam.blank? %>
	<div class="team-show-users">
		<% usersInTeam.each do |userInTeam| %>
			<div id="show-user">
				<% imageLoc = userInTeam.profilepicture_file_name%>
				<% if !imageLoc.blank?%>
					<%= link_to image_tag(userInTeam.profilepicture.url, alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: userInTeam.id %>
				<% else %>
					<%= link_to image_tag("icons/dude.svg", alt: "Image Error", class: "img-circle", float: 'left'), controller: "users", action: "show", id: userInTeam.id %> 
				<% end %>
				<%= userInTeam.first_name %>
			</div>
		<% end %>
	</div>
	<div>
		<h4 padding='5px'>Team Description</h4>
		<p> <%= @team.description %> </p>
	</div>
	<br>
	<%else%>
<% end %>


<%if current_user != nil && current_user.team_id == @team.id %>
  <div class="text-center">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
    	Upload 
    </button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateModal">
    	Update 
    </button>
  </div>
<% end %>

<!-- File 0 -->
<% approvals = Approval.where(file_url: @team.files.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.fileTitle%></h4>
        <%= link_to image_tag(@team.files.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

<!-- File 1 -->

<% approvals = Approval.where(file_url: @team.files1.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files1_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file1Title%></h4>
        <%= link_to image_tag(@team.files1.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file1_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files1.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files1.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files1.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files1.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files1.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files1.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

  <!-- File 2 -->

<% approvals = Approval.where(file_url: @team.files2.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files2_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file2Title%></h4>
        <%= link_to image_tag(@team.files2.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file2_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files2.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files2.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files2.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files2.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files2.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files2.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

  <!-- File 3 -->

<% approvals = Approval.where(file_url: @team.files3.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files3_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file3Title%></h4>
        <%= link_to image_tag(@team.files3.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file3_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files3.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files3.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files3.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files3.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files3.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files3.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

  <!-- File 4 -->

<% approvals = Approval.where(file_url: @team.files4.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files4_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file4Title%></h4>
        <%= link_to image_tag(@team.files4.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file4_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files4.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files4.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files4.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files4.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files4.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files4.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

  <!-- File 5 -->

<% approvals = Approval.where(file_url: @team.files5.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files5_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file5Title%></h4>
        <%= link_to image_tag(@team.files5.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file5_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files5.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files5.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files5.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files5.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files5.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files5.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

  <!-- File 6 -->

<% approvals = Approval.where(file_url: @team.files6.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files6_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file6Title%></h4>
        <%= link_to image_tag(@team.files6.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file6_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files6.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files6.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files6.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files6.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files6.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files6.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

  <!-- File 7 -->

<% approvals = Approval.where(file_url: @team.files7.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files7_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file7Title%></h4>
        <%= link_to image_tag(@team.files7.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file7_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files7.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files7.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files7.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files7.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files7.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files7.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

  <!-- File 8 -->

<% approvals = Approval.where(file_url: @team.files8.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files8_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file8Title%></h4>
        <%= link_to image_tag(@team.files8.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file8_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files8.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files8.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files8.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files8.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files8.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files8.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

  <!-- File 9 -->

<% approvals = Approval.where(file_url: @team.files9.url) %>
<% if approvals.count == usersInTeam.count || (current_user != nil && current_user.team_id == @team.id) || (current_user != nil && current_user.user_type_id == 2) %>
  <%if !@team.files9_file_name.blank?%>
    <div style ="padding: 10px;">
      <div style: "width:70%" float:'left'>
        <h4 padding='5px' align = 'left'><%=@team.file9Title%></h4>
        <%= link_to image_tag(@team.files9.url, alt: "Image Error", class: "thumbnail", align: 'right', style: "with:200px; height:150px;")%>

        <p align = 'left' style="width: 55%;"> <%= @team.file9_description %> </p>
      </div>
    </div> 
    <br>
    <!-- If current user on team -->
    <% if current_user != nil && current_user.team_id == @team.id %>
      <!-- If there are no approvals yet -->
      <% if approvals.count == 0 %>
        <%= link_to "Publish", {:controller => "bulletins", :action => "publish_request", :team_id => @team.id, :file_url => @team.files9.url }, :method => "post", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>
      <% else %>
        <!-- approvals exist but private still -->
        <% if approvals.count < usersInTeam.count %>
          <!-- current user has not approved yet -->
          <% if approvals.find_by(user_id: current_user.id) == nil %>
            <%= link_to "Agree to Publish", {:controller => "bulletins", :action => "publish_agree", :team_id => @team.id, :file_url => @team.files9.url }, :method => "delete", :class => "btn btn-primary", data: {:confirm => "Are you sure you wish to make this file public?"} %>

            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files9.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <!-- current user has approved -->
          <% else %>
            <%= link_to "Halt Pending Publication", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files9.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will keep the file private. Only one person choosing to decline publication will keep a file private. Do you wish to continue?"} %>
          <% end %>
        <!-- public -->
        <% else %>
          <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files9.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "This will make the public file private. Only one person choosing to revert publication will make a file private. Do you wish to continue?"} %>
        <% end %>
      <% end %>
      <button name = "file" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
        Edit 
      </button>
      <button class="btn btn-danger">Delete</button>
    <% end %>
    <!-- Admin view -->
    <% if current_user != nil && current_user.user_type_id == 2 && approvals.count == usersInTeam.count %>
      <%= link_to "Make Private", {:controller => "bulletins", :action => "publish_decline", :team_id => @team.id, :file_url => @team.files9.url }, :method => "delete", :class => "btn btn-warning", data: {:confirm => "Are you sure you wish to make this file private again?"} %>
    <% end %>
  <%end%>
<% end %>

<br>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Upload New File</h4>
      </div>

     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>
      <div class="modal-body">
        <div><%= f.label "Title" %><br />
        <%if !@team.files_file_name.blank?%>
          <%if !@team.files1_file_name.blank?%>
            <%if !@team.files2_file_name.blank?%>
              <%if !@team.files3_file_name.blank?%>
                <%if !@team.files4_file_name.blank?%>
                  <%if !@team.files5_file_name.blank?%>
                    <%if !@team.files6_file_name.blank?%>
                      <%if !@team.files7_file_name.blank?%>
                        <%if !@team.files8_file_name.blank?%>
                          <%if !@team.files9_file_name.blank?%>
                           <%=p Error%>
                          <%else%>
                            <%= f.text_field :file9Title %></div>
                          <%end%>
                        <%else%>
                          <%= f.text_field :file8Title %></div>
                        <%end%>
                      <%else%>
                       <%= f.text_field :file7Title %></div>
                      <%end%>
                    <%else%>
                      <%= f.text_field :file6Title %></div>
                    <%end%>
                  <%else%>
                    <%= f.text_field :file5Title %></div>
                  <%end%>
                <%else%>
                  <%= f.text_field :file4Title %></div>
                <%end%>  
              <%else%>
                <%= f.text_field :file3Title %></div>
              <%end%>
            <%else%>
              <%= f.text_field :file2Title %></div>
            <%end%>
          <%else%>
            <%= f.text_field :file1Title %></div>
          <%end%>
        <%else%>
          <%= f.text_field :fileTitle %></div>
        <%end%>

      <div><%= f.label "Description" %><br />
      <%if !@team.files_file_name.blank?%>
          <%if !@team.files1_file_name.blank?%>
            <%if !@team.files2_file_name.blank?%>
              <%if !@team.files3_file_name.blank?%>
                <%if !@team.files4_file_name.blank?%>
                  <%if !@team.files5_file_name.blank?%>
                    <%if !@team.files6_file_name.blank?%>
                      <%if !@team.files7_file_name.blank?%>
                        <%if !@team.files8_file_name.blank?%>
                          <%if !@team.files9_file_name.blank?%>
                           <%=p Error%>
                          <%else%>
                            <%= f.text_area :file9_description %></div>
                          <%end%>
                        <%else%>
                          <%= f.text_area :file8_description %></div>
                        <%end%>
                      <%else%>
                       <%= f.text_area :file7_description %></div>
                      <%end%>
                    <%else%>
                      <%= f.text_area :file6_description %></div>
                    <%end%>
                  <%else%>
                    <%= f.text_area :file5_description %></div>
                  <%end%>
                <%else%>
                  <%= f.text_area :file4_description %></div>
                <%end%>  
              <%else%>
                <%= f.text_area :file3_description %></div>
              <%end%>
            <%else%>
              <%= f.text_area :file2_description %></div>
            <%end%>
          <%else%>
            <%= f.text_area :file1_description %></div>
          <%end%>
        <%else%>
          <%= f.text_area :file_description %></div>
        <%end%>
       

    <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>

        <%if !@team.files_file_name.blank?%>
          <%if !@team.files1_file_name.blank?%>
            <%if !@team.files2_file_name.blank?%>
              <%if !@team.files3_file_name.blank?%>
                <%if !@team.files4_file_name.blank?%>
                  <%if !@team.files5_file_name.blank?%>
                    <%if !@team.files6_file_name.blank?%>
                      <%if !@team.files7_file_name.blank?%>
                        <%if !@team.files8_file_name.blank?%>
                          <%if !@team.files9_file_name.blank?%>
                           <%=p Error%>
                          <%else%>
                            <%= f.file_field :files9 %>
                          <%end%>
                        <%else%>
                          <%= f.file_field :files8 %>
                        <%end%>
                      <%else%>
                       <%= f.file_field :files7 %>
                      <%end%>
                    <%else%>
                      <%= f.file_field :files6 %>
                    <%end%>
                  <%else%>
                    <%= f.file_field :files5 %>
                  <%end%>
                <%else%>
                  <%= f.file_field :files4 %>
                <%end%>  
              <%else%>
                <%= f.file_field :files3 %>
              <%end%>
            <%else%>
              <%= f.file_field :files2 %>
            <%end%>
          <%else%>
            <%= f.file_field :files1 %>
          <%end%>
        <%else%>
          <%= f.file_field :files %>
        <%end%>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>

    </div>
  </div>
</div>
</div>
		</div>
      <div class="modal-footer">
      <%= f.submit "Upload", :class => "btn btn-default" %>
  <%end%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

      <div><%= f.label :description %><br />
      <%= f.text_area :description %></div>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :fileTitle %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit1Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file1Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file1_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files1 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit2Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file2Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file2_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files2 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit3Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file3Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file3_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files3 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit4Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file4Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file4_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files4 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit5Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file5Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file5_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files5 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit6Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file6Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file6_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files6 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit7Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file7Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file7_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files7 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit8Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file8Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file8_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files8 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="modal" id="edit9Modal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style= "z-index: 1060">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>

        <h4 class="modal-title" id="myModalLabel">Update Team</h4>
      </div>
     <%= form_for(@team, url: {action: "update"}, html: { method: :put }) do |f| %>

       
      <div><%= f.label :Title %><br />
      <%= f.text_field :file9Title %></div>

      <div><%= f.label "Description" %><br />
      <%= f.text_area :file9_description %></div>

      <div><%= f.label "File" %><br/>
      <div class="form-group">
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
      <div class="form-control uneditable-input" data-trigger="fileinput">
        <span class="fui-clip fileinput-exists"></span>
        <span class="fileinput-filename"></span>
      </div>
      <span class="input-group-btn btn-file">               
        <span class="btn btn-default fileinput-new" data-role="select-file">Select file</span>
        <span class="btn btn-default fileinput-exists" data-role="change"><span class="fui-gear"></span>  Change</span>


          <%= f.file_field :files9 %>


        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>  Remove</a>               
      </span>
      
  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
